# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Secrets
**/secret.yaml
**/*secret*.yaml
**/.env

# Kubernetes local data
*.log

# MongoDB / MySQL data (if any)
data/
dump/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
